{%extends 'layout/admin_layout.html' %}
{% load bootstrap4 %}
{% load static %}
{% block staff %}
    active
{% endblock%}
{% block title %}
    Staff
{% endblock %}
{% block branch %}
    {{ branch.location }}
{% endblock %}
{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block branch_name %}
    {{ branch.location }}
{% endblock %}
{% block requrl %}
{% url 'vehicle:manager_requests' branch.id %}
{% endblock %}
{% block staffurl %}
{% url 'vehicle:branch_staff_list' branch.id %}
{% endblock %}
{% block add %}

{% endblock %}
{% block contents %}
    <div class="card">
        <div class="card-header">
            All Staff
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Type</th>
                        {#                        <th>make manager</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for staff in branch_staff %}
                    <tr>
                     <td>{{ staff.staff.full_name }}</td>
                        <td>{{ staff.staff.user_kind }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


{% endblock %}
{% block foot %}

{% endblock %}
{% block script %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock %}